#Buscar-en-nuestro-sitio-web {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1031;
	display: none;
	padding-top: 13rem !important;
	input {
		text-align: center !important;
		padding: 20px !important;
		height: auto !important;
	}
	.input-group-append {
		display: none;
	}
}