$color_1:                         #f7f7f7;
$color_2:                         #000000;
$color_3:                         #ffffff;
$background-color_1:              #ee4b7c;
$background-color_2:              #ffffff;
$background-color_3:              #000000;
$background-color_4:              #f2002d;

:root {
  --cerezas-primary-color:        #ED1C42;
  --cerezas-secondary-color:      #1c030e;
  
  --cerezas-light-color:          #ffffff;
  --cerezas-dark-color:           #000000;
}

/* SIzes for media queries */
$breakpoints: (
  // Phones
  "phone-xxs":                  320px,
  "phone-xs":                   375px,
  "phone-s":                    420px,
  "phone-m":                    580px,
  "phone-l":                    640px,
  "phone-xl":                   800px,

  // Tablets
  "tablet-xs":                  750px,
  "tablet-s":                   820px,
  "tablet-m":                   900px,
  "tablet-l":                   980px,

  // Desktop
  "desktop-xs":                1024px,
  "desktop-s":                 1140px,
  "desktop-md":                1280px,
  "desktop-l":                 1360px,
  "desktop-xl":                1440px,
  "desktop-xxl":               1980px
  
);